name: CI

on:
  pull_request:
    types: ['opened', 'synchronize']
    branches: [main]

jobs:
  automated-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20, 22, 24]

    environment:
      name: Production

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Run `typecheck`
        run: pnpm typecheck

      # - name: Run `lint`
      #   run: pnpm lint

      - name: Run `test`
        run: pnpm test
        env:
          RECORD_NETWORK_REQUESTS: 'false'
          MOCK_FETCH: 'true'
          CREDENTIAL_ICLOUD_USERNAME: ${{secrets.CREDENTIAL_ICLOUD_USERNAME}}
          CREDENTIAL_ICLOUD_APP_SPECIFIC_PASSWORD: ${{secrets.CREDENTIAL_ICLOUD_APP_SPECIFIC_PASSWORD}}
          CREDENTIAL_GOOGLE_USERNAME: ${{secrets.CREDENTIAL_GOOGLE_USERNAME}}
          CREDENTIAL_GOOGLE_REFRESH_TOKEN: ${{secrets.CREDENTIAL_GOOGLE_REFRESH_TOKEN}}
          CREDENTIAL_GOOGLE_CLIENT_ID: ${{secrets.CREDENTIAL_GOOGLE_CLIENT_ID}}
          CREDENTIAL_GOOGLE_CLIENT_SECRET: ${{secrets.CREDENTIAL_GOOGLE_CLIENT_SECRET}}
          CREDENTIAL_FASTMAIL_USERNAME: ${{secrets.CREDENTIAL_FASTMAIL_USERNAME}}
          CREDENTIAL_FASTMAIL_APP_PASSWORD: ${{secrets.CREDENTIAL_FASTMAIL_APP_PASSWORD}}
          CREDENTIAL_NEXTCLOUD_USERNAME: ${{secrets.CREDENTIAL_NEXTCLOUD_USERNAME}}
          CREDENTIAL_NEXTCLOUD_PASSWORD: ${{secrets.CREDENTIAL_NEXTCLOUD_PASSWORD}}
          CREDENTIAL_NEXTCLOUD_SERVER_URL: ${{secrets.CREDENTIAL_NEXTCLOUD_SERVER_URL}}
